/*
* @Author: cg
* @Date:   2018-01-27 22:14:20
* @Last Modified by:   cg
* @Last Modified time: 2018-01-28 16:00:21
*/
/* 最外层容器 */

.page-wrap{
	padding: 40px 0;
	background: #e72955;
}

/* 表单框 */
.user-con{
	position: relative;
	margin: 0 auto;
	width: 400px;
	background: #fff;
}

.user-con .user-title{
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}

.user-con .user-box{
	padding: 20px;
}
/* 错误提示框 */
.user-con .user-box .error-item{
	position: relative;
	padding: 4px 0 4px 40px;
	margin-bottom: 10px;
	border:1px solid red;
	color: red;
	background: #fde9e9;
	display: none;
}
.user-con .user-box .error-icon{
	position: absolute;
	left: 14px;
	top: 50%;
	font-size: 14px;
	margin-top: -7px;
}

.user-con .user-item{
	position: relative;
	margin-bottom: 20px;
}
/* border-right: 1px solid #bdbdbd;是为了把图标和输入框中间加个线 */
.user-con .user-item .user-label{
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 40px;
	line-height: 36px;
	background: #f3f3f3;
	font-size: 18px;
	color: #d3d3d3;
	text-align: center;
	border-right: 1px solid #bdbdbd;
}

.user-con .user-item .user-content{
	padding: 10px 0 10px 50px;
	width: 308px;
	height: 18px;
	line-height: 18px;
	font-size: 15px;
	border: 1px solid #bdbdbd;
	outline: none;
}

/* 登录按钮样式 padding: 6px 0; 这样写是因为padding本身占用些宽度,所以会
导致按钮框超出表单框*/
.user-con .btn-submit{
	width: 100%;
	padding: 2px 0;
	text-align: center;
	font-size: 20px;
}

/* 跳转链接 */
.user-con .link-item{
	text-align: right;
	margin-top: 10px;	
}
.user-con .link-item .link{
	margin-left: 10px;
	color: #999;
}