/*
* @Author: cg
* @Date:   2018-01-23 22:44:59
* @Last Modified by:   cg
* @Last Modified time: 2018-01-23 22:49:16
*/
.footer{
	padding-bottom: 10px;
}

.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	padding:0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}
